@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;&display=swap');

body{
  font-family: 'Cairo', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184); 
}

@tailwind base;
@tailwind components;
@tailwind utilities;